@use "global" as *;

.about {
  padding-top: rem(88);
  padding-bottom: rem(84);

  @include mq("md") {
		padding-top: rem(144);
    padding-bottom: rem(140);
  }
}

.about__body {
  position: relative;
  margin-top: rem(28);

  @include mq("md") {
		margin-top: rem(40);
  }
}

.about__body::after {

  @include mq("md") {
		position: absolute;
    content: "";
    bottom: rem(-90);
    right: max(calc(50% - (min(48.111vw,rem(662)))),rem(-97));
    width: rem(194);
    height: rem(181);
    background-image: url(../images/common/bg-coral.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
  }
}

.about__img-wrap {
  display: flex;
  width: 100%;
}

.about__img-left {
  position: relative;
  z-index: 10;
}

.about__img-right {
  position: relative;
  margin-top: 7.4%;
  margin-left: -18.55%;
  z-index: 9;
}

.about__img-left img {
  aspect-ratio: 128 / 194;
  object-fit: cover;

  @include mq("md") {
		aspect-ratio: 400 / 606;
  }
}

.about__img-right img {
  aspect-ratio: 281 / 186;
  object-fit: cover;

  @include mq("md") {
		aspect-ratio: 880 / 581;
  }
}

.about__content-wrap {
  @include mq("md") {
    position: absolute;
    top: 30.5%;
    left: 18.518%;
    display: flex;
    z-index: 11;
  }
}

.about__title {
  margin-top: rem(40);
  font-size: rem(40);
  font-family: $gotu-font;
  font-weight: $regular;
  line-height: 1;
  color: $accent-color;

  @include mq("md") {
		margin-top: 0;
    font-size: rem(80);
    line-height: calc(100 / 80);
    color: $white;
  }
}

.about__title span {
  text-transform: capitalize;
}

.about__text-content {
  margin-top: rem(16);

  @include mq("md") {
		margin-top: 0;
    margin-left: rem(40);
    margin-right: rem(41);
  }
}

.about__text {
  font-size: rem(16);
  line-height: calc(24 / 16);

  @include mq("md") {
		color: $white;
  }
}

.about__button {
  margin-top: rem(40);

  @include mq("md") {
		margin-top: rem(38);
  }
}

// .about__bg {
//   position: absolute;
//   right: (-97 / 1440)*100vw;
//   bottom: rem(-90);
//   width: rem(194);
//   height: rem(181);
//   z-index: 12;
// }