@use "global" as *;

.about {
  padding-top: rem(88);

  @include mq("md") {
		padding-top: rem(144);
  }
}

.about__body {
  margin-top: rem(28);

  @include mq("md") {
		margin-top: rem(40);
  }
}

.about__img-wrap {
  display: flex;
  width: 100%;
}

.about__img-left {
  position: relative;
  z-index: 10;
}

.about__img-right {
  position: relative;
  z-index: 9;
  margin-top: 7.4%;
  margin-left: -18.55%;
}

.about__img-left img {
  aspect-ratio: 128 / 194;
  object-fit: cover;
}

.about__img-right img {
  aspect-ratio: 281 / 186;
  object-fit: cover;
}