@use "global" as *;

.blog {
  padding-top: rem(86);

  @include mq("md") {
		padding-top: rem(100);
    background-image: url(../images/common/blog-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto rem(500);
  }
}

.blog__cards {
  margin-top: rem(27);
  margin-right: rem(6);
  margin-left: rem(6);
  display: grid;
  gap: rem(40);
  grid-template-columns: 1fr;
  justify-items: center;


  @include mq("md") {
		margin-top: rem(80);
    margin-right: 0;
    margin-left: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog__button {
  margin-top: rem(40);

  @include mq("md") {
		margin-top: rem(80);
  }
}
