@use "global" as *;

.blog-single__date {
  display: block;
  font-size: rem(14);
  font-family: $gotu-font;
  font-weight: $regular;
  line-height: calc(18 / 14);
}

.blog-single__title {
  margin-top: rem(7);
  padding-bottom: rem(3);
  font-size: rem(24);
  font-weight: $medium;
  border-bottom: rem(1) solid $accent-color;
  
  @include mq("md") {
    padding-bottom: 0;
		font-size: rem(32);
    line-height: 1.4;
  }
}

.blog-single__img {
  aspect-ratio: 345 / 231;
  object-fit: cover;

  @include mq("md") {
		aspect-ratio: 706 / 468;
  }
}

.blog-single__text {
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
}

.blog-single__list-item:not(:first-child) {
  margin-top: rem(4);
}

.blog-single__list-item {
  display: flex;
  align-items: center;
}

.blog-single__list-item::before {
  content: '';
  margin-right: rem(9);
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/blog-list-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}