@use "global" as *;

.footer {
  position: relative;
  width: 100%;
  background-color: $accent-color;
}

.footer__inner {
  width: 100%;
  padding-right: rem(15);
  padding-left: rem(15);

  @include mq("md") {
    max-width: rem(1130);
    padding-right: rem(25);
    padding-left: rem(25);
  }
}

.footer__heading {
  @include mq("md") {
		display: flex;
    align-items: flex-end;
  }
}

.footer__name {
  display: inline-block;
  max-width: rem(120);
  width: 100%;
  transition: opacity .3s;

  @include mq("md") {
		max-width: rem(200);
  }
}

.footer__sns-link {
  margin-top: rem(11);
  display: flex;
  align-items: center;

  @include mq("md") {
		margin-top: 0;
    margin-left: rem(40);
    margin-bottom: rem(5);
  }
}

.footer__facebook,
.footer__instagram {
  display: inline-block;
  width: rem(24);
  height: rem(24);
  transition: opacity .3s;

  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

.footer__instagram {
  margin-left: rem(16);
}

.footer__nav {
  max-width: rem(500);
  margin: rem(28) auto 0;
  display: flex;
  justify-content: space-between;

  @include mq("md") {
    max-width: 100%;
		margin-top: rem(12);
    gap: rem(120);
    justify-content: start;
  }
}

.footer__left,
.footer__right {
  margin-right: rem(11);
  @include mq("md") {
		display: contents;
  }
}

.footer__title {
  position: relative;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
  color: $white;
  transition: opacity .3s;
}

.footer__title::before {
  position: absolute;
  content: "";
  top: rem(12);
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/nav-point.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity .3s;
}

.footer__item {
  font-size: rem(16);
  line-height: calc(18 / 16);
  color: $white;
  transition: opacity .3s;
}

.footer__title a,
.footer__item a {
  display: inline-block;
  width: 100%;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
}

.footer__title:not(:first-child) {
  margin-top: rem(16);
}

.footer__left-bottom,
.footer__right-bottom {
  margin-top: rem(16);

  @include mq("md") {
		margin-top: 0;
  }
}

.footer__copyright {
  display: block;
  text-align: center;
}

.footer__copyright p {
  margin-top: rem(27);
  font-size: rem(12);
  font-family: $gotu-font;
  font-weight: $regular;
  line-height: calc(18 / 12);
  color: $white;
  white-space: pre-wrap;

  @include mq("md") {
		margin-top: rem(69);
    padding-right: rem(25);
    padding-left: rem(25);
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}
@media(hover: hover) {
	.footer__name:hover,
  .footer__facebook:hover,
  .footer__instagram:hover,
  .footer__title:hover,
  .footer__item:hover {
    opacity: 0.7;
  }
}
