@use "global" as *;

.page-campaign__tub-contents {
  margin-top: rem(40);
  padding-right: rem(32);
  padding-left: rem(32);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(40);

  @include mq("md") {
    padding: 0;
		grid-template-columns: 1fr 1fr;
    column-gap: rem(40);
    row-gap: rem(80);
  }
}

.page-campaign__pagenation {
  margin-top: rem(80);
}