@use "global" as *;

.page-404__inner {
  position: relative;
}

.page-404__inner::before {
  content: "";
  position: absolute;
  top: rem(-80);
  left: 0;
  width: rem(345);
  height: rem(345);
  background-image: url(../images/common/bg-404.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @include mq("md") {
    top: rem(-178);
		width: rem(698);
    height: rem(698);
  }
}

.page-404__body {
  text-align: center;
}

.page-404__404 {
  font-size: rem(80);
  font-family: $lato-font;
  font-weight: $regular;
  letter-spacing: 0.5em;
  color: $white;
  text-indent: 0.5em;

  @include mq("md") {
		font-size: rem(160);
  }
}

.page-404__text {
  font-size: rem(16);
  font-family: $lato-font;
  font-weight: $regular;
  line-height: calc(24 / 16);
  color: $white;
}

.page-404__button {
  margin-top: rem(40);
}