@use "global" as *;

.page-about__body {
  position: relative;

  @include mq("md") {
		margin-top: rem(40);
  }
}

.page-about__body::after {

  @include mq("md") {
		position: absolute;
    content: "";
    bottom: rem(-178);
    right: calc(50% - (min(48.1203vw,rem(640))));
    width: rem(301);
    height: rem(138);
    background-image: url(../images/common/bg-fish.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
  }
}

.page-about__img-wrap {

  @include mq("md") {
    display: flex;
    width: 100%;
  }
}

.page-about__img-left {

  @include mq("md") {
    position: relative;
    z-index: 10;
  }
}

.page-about__img-right {

  @include mq("md") {
    position: relative;
    margin-top: 7.4%;
    margin-left: -18.55%;
    z-index: 9;
  }
}

.page-about__img-left img {
  
  @include mq("md") {
    aspect-ratio: 400 / 606;
    object-fit: cover;
  }
}

.page-about__img-right img {
  aspect-ratio: 281 / 186;
  object-fit: cover;

  @include mq("md") {
		aspect-ratio: 880 / 581;
  }
}

.page-about__content-wrap {
  display: contents;

  @include mq("md") {
    position: absolute;
    top: 30.5%;
    left: 18.518%;
    display: flex;
    align-items: flex-end;
    z-index: 11;
  }
}

.page-about__title {
  position: absolute;
  top: rem(24);
  left: rem(24);
  font-size: rem(40);
  font-family: $gotu-font;
  font-weight: $regular;
  line-height: 1;
  color: $white;

  @include mq("md") {
    position: static;
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.page-about__title span {
  text-transform: capitalize;
}

.page-about__text-content {
  margin-top: rem(39);

  @include mq("md") {
		margin-top: 0;
    margin-left: rem(40);
    margin-right: rem(41);
  }
}

.page-about__text {
  font-size: rem(16);
  line-height: calc(24 / 16);

  @include mq("md") {
		color: $white;
    margin-bottom: rem(8);
  }
}

.page-about__button {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
		margin-top: rem(38);
  }
}