@use "global" as *;

.section-heading {
  text-align: center;
}

.section-heading__title {
  font-size: rem(32);
  font-family: $gotu-font;
  font-weight: $regular;
  line-height: 1;

  @include mq("md") {
    font-size: rem(40);
  }
}

.section-heading__title.section-heading__title--large {
  font-size: rem(80);
}

.section-heading__title span {
  display: inline-block;
  color: $accent-color;
  text-transform: uppercase;
}

.section-heading__subtitle {
  margin-top: rem(8);
  font-size: rem(12);
  line-height: (18 / 12);
  color: $accent-color;

  @include mq("md") {
		margin-top: rem(8);
  }
}

.section-heading__subtitle.section-heading__subtitle--large {
  margin-top: rem(-6);
}

.section-heading__title.section-heading__title--white,
.section-heading__title.section-heading__title--white span,
.section-heading__subtitle.section-heading__subtitle--white {
  @include mq("md") {
    color: $white;
  }
}